<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <form [formGroup]="fg" (ngSubmit)="handleSubmit()">
    <ion-card color="light">
      <ion-row>
        <ion-col size="0.4"></ion-col>
        <ion-col size="11" class="ion-margin-top">
          <ion-item color="light" lines="none">
            <ion-label slot="start" color="primary">
              <h1><b>คำขอร้านค้า</b></h1>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="1" class="ion-no-padding"></ion-col>
        <ion-col size="11" class="ion-no-padding">
          <ion-item *ngIf="isValid('name')" class="invalid-msg">
            <span>
              กรุณากรอกข้อมูล
            </span>
          </ion-item>
          <ion-item color="light">
            <ion-input  placeholder="ชื่อชั่วคราว" formControlName="name"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="1" class="ion-no-padding"></ion-col>
        <ion-col size="11" class="ion-no-padding">
          <ion-item *ngIf="isValid('phoneNumber')" class="invalid-msg">
            <span>
              กรุณากรอกข้อมูล
            </span>
          </ion-item>
          <ion-item color="light">
            <ion-input placeholder="เบอร์โทรศัพท์" formControlName="phoneNumber"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <app-address [FormItem]="fg.get('address')"></app-address>

      <ion-item color="light" lines="none" class="ion-padding">
        <ion-button slot="end" size="default" shape="round" color="success" type="submit">ยืนยัน
        </ion-button>
      </ion-item>
    </ion-card>
  </form>
</ion-content>
